body {
}

#contenu {
  margin: auto;
  width: 40em;
  min-height: calc(100vh - 10em);
  padding-bottom: 3em;
  border-left: 1px dotted silver;
  border-right: 1px dotted silver;
}

@media (min-width: 1400px) {
  #menucat {
    width: 100%;
  }

table {
  width: 100%;
}